<section>
  {{#each blogs as |blog|}}
    <div class='border border-3 border-dark my-2'>
      <div class='blog-header'>
        <h2>
          <a href='/blog/{{blog.id}}'>{{blog.title}}</a>
        </h2>

        <div class='d-flex justify-content-between align-items-center'>
          <span class=''>Posted by
            {{blog.user.name}}
            on
            {{format_date blog.createdAt}}
          </span>
          <!-- Create three dots that will open a dropdown menu -->
          <div class='dropdown ms-3'>
            <button
              class='btn btn-secondary dropdown-toggle'
              type='button'
              id='dropdownMenuButton1'
              data-bs-toggle='dropdown'
              aria-expanded='false'
            >
              <i class='fas fa-ellipsis-h'></i>
            </button>
            <ul class='dropdown-menu' aria-labelledby='dropdownMenuButton1'>
              <!-- Create a button that will open a modal to edit the blog -->
              <li>
                <a
                  class='dropdown-item'
                  type='button'
                  href='/blog/{{blog.id}}/edit'
                >
                  Edit
                </a>
              </li>
              <!-- Create a button that execute a delete route -->
              <li>
                <button
                  class='dropdown-item'
                  type='button'
                  data-id='{{blog.id}}'
                  onclick='deleteBlog({{blog.id}})'
                >Delete</button>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <div class='p-3'>
        <span class=''>
          {{blog.content}}
        </span>
      </div>
    </div>
  {{/each}}

  <!-- If there are no blogs, display a message -->
  {{#if blogs}}{{else}}
    <h3>No blogs yet!</h3>
  {{/if}}

  <!-- Create a button that fixed to the bottom right of the screen to create a new blog -->
  <div class='fixed-bottom'>
    <button
      class='btn btn-dark btn-lg'
      type='button'
      data-bs-toggle='modal'
      data-bs-target='#createBlogModal'
    >
      <i class='fas fa-plus'></i>
      New Blog Post
    </button>
  </div>

  <div
    class='modal fade'
    id='createBlogModal'
    tabindex='-1'
    aria-labelledby='createBlogModalLabel'
    aria-hidden='true'
  >
    <div class='modal-dialog modal-dialog-centered modal-dialog-scrollable'>
      <div class='modal-content border border-3 border-dark rounded-0'>
        <div class='modal-header card-header'>
          <h1 class='modal-title fs-5' id='createBlogModalLabel'>Create new Blog</h1>
          <button
            type='button'
            class='btn-close'
            data-bs-dismiss='modal'
            aria-label='Close'
          ></button>
        </div>
        <div class='modal-body'>
          <!-- Create a form to create a new blog -->
          <form id='create-blog-form'>
            <div class='mb-3'>
              <label for='blog-title' class='form-label'>Title</label>
              <input
                type='text'
                class='form-control'
                name='blog-title'
                id='blog-title'
                required
              />
            </div>
            <div class='mb-3'>
              <label for='blog-content' class='form-label'>Content</label>
              <textarea
                class='form-control'
                name='blog-content'
                id='blog-content'
                rows='3'
                required
              ></textarea>
            </div>
            <div
              class='mb-3 d-flex justify-content-space align-items-center w-100'
            >
              <button
                type='submit'
                id='create-blog-button'
                class='btn btn-dark'
              >Create Blog</button>

              <button
                type='button'
                class='btn btn-secondary ms-3'
                data-bs-dismiss='modal'
              >Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</section>

<script src='/js/dashboard.js'></script>